run = "cd backend && npm install && npm run build && npm start"

[build]
command = "cd backend && npm install && npm run build && cd ../frontend && npm install && npm run build"

[nix]
channel = "stable-22_11"

[[ports]]
localPort = 3001
externalPort = 80
